---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import ThemeToggle from "../components/ThemeToggle.astro";
import { SITE_DESCRIPTION, SITE_TITLE , GITHUB} from "../consts";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body class="antialiased tracking-tight">
        <ThemeToggle />
        <div
            class="min-h-screen flex flex-col pt-10 md:pt-8 p-8 bg-[var(--app-bg)] text-[var(--app-text)]"
        >
            <main class="flex-1 max-w-[var(--layout-main-max)] mx-auto w-full flex flex-col justify-center">
                <div>
                    <h1 class="text-2xl pl-3 pb-2">
                    <a class="hover:text-gray-400 hover:underline" rel="noopener noreferrer" href={`https://github.com/${GITHUB}`}>Craftsman</a>
                     / <a class="hover:text-gray-400 hover:underline" href="/run">Runner</a>
                     / Student
                    </h1> 
                </div>
            </main>
            <div class="max-w-[var(--layout-main-max)] mx-auto w-full">
            </div>
        </div>
    </body>
</html>
 
