---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { SITE_DESCRIPTION, SITE_TITLE , GITHUB} from "../consts";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body class="antialiased tracking-tight">
        <div
            class="min-h-screen flex flex-col items-center justify-center pt-10 md:pt-8 p-8 dark:bg-zinc-950 bg-white text-gray-900 dark:text-zinc-200"
        >
            <main class="max-w-[60ch] mx-auto w-full">
                <h1 class="text-4xl pl-2 py-5">
                    你好! Hello! Bonjour! こんにちは!
                </h1>
                <p class="text-1xl pl-2 pb-3">👋 I am a university student majoring in electrical engineering, with some experience in front-end, back-end, and iOS development, I'm also a 
                    <a class="hover:text-gray-400 underline" href="/run">runner</a>. I am trying to 
                    <a class="hover:text-gray-400 underline" rel="noopener noreferrer" href={`https://github.com/${GITHUB}`}>make</a> good things that matter.</p>
                <Footer />
            </main>
        </div>
    </body>
</html>
 