---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import TypewriterEffect from "@components/Typing.tsx";
import Socials from "@components/Socials.astro";
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <TypewriterEffect
        text="ä½ å¥½! Hello! Bonjour! ã“ã‚“ã«ã¡ã¯!"
        speed={100}
        client:load
      />
      <p>
        ðŸ‘‹ I am a university student majoring in electrical engineering and also
        a front-end intern engineer, with some experience in front-end,
        back-end, and iOS development. I enjoy running, fitness, and
        occasionally printing. I am passionate about learning how to build
        something useful and beautiful.
      </p>
      <Socials />
    </section>
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pb-6 pt-12;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
