---
import { GITHUB, TWITTER } from "../consts";
import { NAME } from "../consts"
const today = new Date();
---

<footer class="text-sm py-10 pl-2">
	Copyright &copy; {today.getFullYear()} {NAME}. All rights reserved.
	<div class="flex gap-4 mt-4">
		<a 
			href={`https://github.com/${GITHUB}`}
			target="_blank" 
			class="text-white hover:text-gray-400 hover:underline"
			rel="noopener noreferrer"
		>
			<p>GitHub</p>
		</a>
		<a 
			href={`https://twitter.com/${TWITTER}`}
			target="_blank" 
			class="text-white hover:text-gray-400 hover:underline"
			rel="noopener noreferrer"
		>
			<p>Twitter</p>
		</a>
		<a 
			href="/rss.xml" 
			target="_blank" 
			class="text-white hover:text-gray-400 hover:underline"
			rel="noopener noreferrer"
		>
			<p>RSS</p>
		</a>
	</div>
</footer>
