---
const today = new Date();
---

<footer class="py-10">
	&copy; {today.getFullYear()} Your name here. All rights reserved.
	<div class="flex gap-4 mt-4">
		<a 
			href="https://m.webtoo.ls/@astro" 
			target="_blank" 
			class="text-white hover:text-gray-400 hover:underline"
		>
			<p>GitHub</p>
		</a>
		<a 
			href="https://twitter.com/astrodotbuild" 
			target="_blank" 
			class="text-white hover:text-gray-400 hover:underline"
		>
			<p>Twitter</p>
		</a>
		<a 
			href="/rss.xml" 
			target="_blank" 
			class="text-white hover:text-gray-400 hover:underline"
		>
			<p>RSS</p>
		</a>
	</div>
</footer>
